# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Byte-compiled files
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Miscellaneous
*.DS_Store
*.bak
*.tmp
*.orig
*.pid
*.seed
*.sqlite3
